body {
  background-color: #000;
  color: white;
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  padding: 0;
}

/* Fondo overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Caja del carrito */
.modal-carrito {
  background-color: #000;
  padding: 30px;
  border-radius: 10px;
  width: 340px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.15);
  text-align: center;
}

/* Título */
.modal-carrito h2 {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 400;
}

/* Lista de productos */
.lista-carrito {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
}

.item-carrito {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.item-carrito img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  object-fit: cover;
}

.item-carrito .nombre {
  flex: 1;
  text-align: left;
  margin-left: 10px;
  font-size: 15px;
}

.item-carrito .precio {
  font-weight: 500;
}

/* Total */
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 15px;
  border-radius: 8px;
  margin-bottom: 25px;
}

.label-total {
  font-size: 18px;
}

.valor-total {
  font-size: 18px;
  font-weight: bold;
}

/* Métodos de pago */
.metodos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
}

.btn-pago {
  background-color: #222;
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-pago:hover {
  background-color: #444;
}

/* Botón Pagar */
.btn-pagar {
  background-color: #008cff;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
}

.btn-pagar:hover {
  background-color: #0070cc;
}
